In [1]:
import pandas as pd
import folium

In [3]:
folium_map = folium.Map(location=[40.738, -73.98],
                            zoom_start=13,
                            tiles="CartoDB dark_matter")

folium.CircleMarker(location=[40.738, -73.98],fill=True).add_to(folium_map)
folium_map


bike_data  = pd.read_csv("/home/lucifer/Documents/Git/MMDP/data/13_01_01_sorted.csv")
# bike_data["Start Time"] = pd.to_datetime(bike_data["Start Time"])
# bike_data["Stop Time"] = pd.to_datetime(bike_data["Stop Time"])
# bike_data["hour"] = bike_data["Start Time"].map(lambda x: x.hour)

In [4]:
bike_data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>76942C3205E17D7E7FE5A9F709D16434</th>
      <th>25BA06A87905667AA1FE5990E33F0E2E</th>
      <th>VTS</th>
      <th>1</th>
      <th>Unnamed: 4</th>
      <th>2013-01-01 00:00:00</th>
      <th>2013-01-01 00:05:00</th>
      <th>3</th>
      <th>300</th>
      <th>.61</th>
      <th>-73.955925</th>
      <th>40.781887</th>
      <th>-73.963181</th>
      <th>40.777832</th>
      <th>5</th>
      <th>0.5</th>
      <th>0.5.1</th>
      <th>0</th>
      <th>0.1</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>4A9DED62DD8EA1E1988C55F7141DC1F7</td>
      <td>F4B5F923554A0BB822F26FCB25923D67</td>
      <td>VTS</td>
      <td>1</td>
      <td>NaN</td>
      <td>2013-01-01 00:00:00</td>
      <td>2013-01-01 00:09:00</td>
      <td>1</td>
      <td>540</td>
      <td>2.14</td>
      <td>-73.975723</td>
      <td>40.781693</td>
      <td>-73.969147</td>
      <td>40.760975</td>
      <td>9.5</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>3.33</td>
      <td>0.0</td>
      <td>13.83</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BB4FB2B3BB0C4FF05A28E8A1B269CB2C</td>
      <td>21EF484FBA1254F1C1A721CD6EA979C1</td>
      <td>VTS</td>
      <td>1</td>
      <td>NaN</td>
      <td>2013-01-01 00:00:00</td>
      <td>2013-01-01 00:16:00</td>
      <td>4</td>
      <td>960</td>
      <td>4.05</td>
      <td>-74.000526</td>
      <td>40.737343</td>
      <td>-73.977226</td>
      <td>40.783607</td>
      <td>14.5</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>4.65</td>
      <td>0.0</td>
      <td>20.15</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8B5F45807D8EC24DDFD9A7EDFFAEC138</td>
      <td>577D1B6729EF9014CDBC949554EB4483</td>
      <td>VTS</td>
      <td>1</td>
      <td>NaN</td>
      <td>2013-01-01 00:00:00</td>
      <td>2013-01-01 00:05:00</td>
      <td>1</td>
      <td>300</td>
      <td>0.06</td>
      <td>-73.984871</td>
      <td>40.753723</td>
      <td>-73.983849</td>
      <td>40.754467</td>
      <td>4.5</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>5.50</td>
    </tr>
    <tr>
      <th>3</th>
      <td>E3ADD882D2B3BD1B1A583F1EF4A58BFC</td>
      <td>1F14C43D3C8C222FD13F6537197055AD</td>
      <td>VTS</td>
      <td>1</td>
      <td>NaN</td>
      <td>2013-01-01 00:00:00</td>
      <td>2013-01-01 00:08:00</td>
      <td>2</td>
      <td>480</td>
      <td>1.68</td>
      <td>-73.981575</td>
      <td>40.767632</td>
      <td>-73.977737</td>
      <td>40.757927</td>
      <td>8.0</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>1.70</td>
      <td>0.0</td>
      <td>10.70</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5F78CC6D4ECD0541B765FECE17075B6F</td>
      <td>B7567F5BFD558C665D23B18451FE1FD1</td>
      <td>VTS</td>
      <td>1</td>
      <td>NaN</td>
      <td>2013-01-01 00:00:00</td>
      <td>2013-01-01 00:04:00</td>
      <td>1</td>
      <td>240</td>
      <td>1.21</td>
      <td>-73.973000</td>
      <td>40.793140</td>
      <td>-73.981453</td>
      <td>40.778465</td>
      <td>6.0</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>1.30</td>
      <td>0.0</td>
      <td>8.30</td>
    </tr>
  </tbody>
</table>
</div>